version: '3.9'
services:
  mysql:
    image: mysql:8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: dataclean
    ports:
      - '3307:3306'
    volumes:
      - mysql-data:/var/lib/mysql
volumes:
  mysql-data: